/clases/ConceptosBasicos/nbproject/private/
diagramaBD.img
/tareas/TareaLIbro/nbproject/private/
/tareas/TareaLibro/nbproject/private/
/tareas/TareaLibro/build/
/clases/ConceptosBasicos/build/
/clases/ejemplosrepaso/nbproject/private/
/clases/ejemplosrepaso/build/
/clases/ReutilizacionCodigo2209/nbproject/private/
/clases/ReutilizacionCodigo2209/build/
/clases/ReutilizacionCodigo2209/dist/
/tareas/Composición/nbproject/private/
/tareas/TareaComposicion/nbproject/private/
/tareas/TareaComposicion/build/
